window {
  background-color: #ceaf8c;
  color: black;
  border-width: 3px;
  font-weight: 500;
  border-color: blue;
}

#addButton {
  background: rgb(73, 204, 73);
  color: white;
  border: none;
  border-radius: 0px;
}

#searchButton {
  background: #044cd0;
  color: white;
  border: none;
  border-radius: 0px;
}

#defaultButton {
  background: #f4f4f4;
  border: 2px #044cd0 solid;
  border-radius: 0px;
  color: #044cd0;
}

#removeButton {
  background: #d72503;
  color: white;
  border: none;
  border-radius: 0px;
}

#removeButton:hover {
  background: rgba(215, 39, 3, 0.7);
}

#searchButton:hover {
  background: rgba(4, 75, 208, 0.7);
}

#addButton:hover {
  background: rgba(55, 179, 55, 0.7);
}

#defaultButton:hover {
  background: rgba(215, 218, 221, 0.7);
}

#itemTable {
  border: none;
  border-radius: 0px;
  background-color: #f4f4f4;
  color: black;
}

#itemTable:focus {
  border: none;
  border-radius: 0px;
}

#wordEntry,
#meanEntry,
#tableEntry {
  background-color: #f4f4f4;
  border: none;
  color: black;
}
